.Main-picture {
    width: 300px;
    height: 300px;
    object-fit: fill;
    align-self: center;
}

.Main-picture-error {
    width: 300px;
    height: 300px;
    object-fit: fill;
    align-self: center;
    animation: Main-picture-flip infinite 1s;
}

.Main-picture:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

@keyframes Main-picture-flip {
    from {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    to {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
  }

.Text-center {
    text-align: center;
    font-style: italic oblique;
    font-weight: bold;
}