.Flex {
    display: flex;
}

.Flex-column {
	flex-direction: column;
}

.Flex-row {
    flex-direction: row;
}

.Flex-space-around {
    justify-content: space-around;
}

.Flex-space-between {
    justify-content: space-between;
}

.Flex-center {
    justify-content: center;
}

.Width-full {
    width: 100%;
}

.Container-pokemon-information {
    width: 880px;
}