.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 2s linear;
  height: 25vmin;
  pointer-events: none;
}

.App-header {
  background-color: #17062b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Pokemon-container {
  width: 200px;
  height: 0px;
  display: inline-block
}

.Pokemon-container-img {
  width: 100%;
  height: auto;
}

.Right {
  margin-left:0; 
  margin-right:auto;
  display: inline-block;
}

.Left {
  margin-left:auto; 
  margin-right:0;
  display: inline-block;
}

.Button-link {
  margin-top: 20px;
  border-radius: 20px;
  background-color: #052c3b;
  border: double 4px transparent;
  font-size: calc(10px + 1vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
