.Table-name-pokemon {
    border: 0px solid black;
    border-radius: 10px;
    text-align: center;
}

.Table-head-name {
    width: 250px;
}

.Table-head-number {
    width: 50px;
}

.Button-style {
    border: none;
    border-radius: 20px;
    background: none;
    padding: 5px;
    font-weight: bold;
    text-decoration: underline;
}

.Button-name {
    width:auto; 
    height:auto;
    text-align: initial;
}

.Button-style:hover{
    background-color: #ffcc03;
    color: rgb(53, 55, 179);
    font-weight: bolder;
}

.Button-controls {
    height: 50px;
    margin-top: 30px;
    width: -webkit-fill-available;
    border-radius: 6px;
    background: #ffcc03;
    box-shadow: 0px 5px rgb(53, 55, 179);
    font-weight: bold;
}

.Button-controls:hover {
    background: #ec0d0d;
}